




*{
    box-sizing: border-box;
    
}

.container {
    background-color: #eee;
}

/* ************************* */

@media screen and (max-width: 992px) {
  .about_me{
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .about_me_section{
    flex-direction: column;
  }
}


.bioInfo{
  display: flex;
align-items: center;
}

.profile_photo img{
  object-fit: contain;
  height: 15em;
  padding: 10px;
}

.bioBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}









/* ******************************** */

.link-icons {
background-color: #eee;
  display: flex;
 justify-content: space-around;
padding: 20px;
}
.icon_image:hover{
    transform: scale(1.3);
}

.project-image:hover {
    transform: scale(1.2);
}
@media screen and (max-width: 992px) {
  .link-icons {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .contact_icons {
    flex-direction: column;
  }
}

.icon_image img{
  object-fit: contain; 
  height: 50px;
}

.header {
    display: flex;
}



/* **************************** */
/*  NAV BAR */
ul {
  font-size: large;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
float: right;
border-right: 1px solid #bbb;
  }
 li:first-child {
  border-right: none;
}
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  li a:hover{
    background-color: #B784A7;
  }
  li a:hover:not(.active){
    background-color: #04AA6D;
  }
  .active {
    background-color: #04AA6D;
  }

/* ****************************** */
/* SKILLS SECTION */

.skills_section {
  
  display: flex;
  flex-wrap: wrap;
}

.skill_blocks {

  flex: 25%;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .skill_blocks{
    flex: 50%;
  }
}
@media screen and (max-width: 600px) {
  .skills_section {
    flex-direction: column;
  }
}

i {
  object-fit: contain;
  height: 50px;
}
/* ****************************** */
.projects-section{
    display: flex;
    flex-wrap: wrap;
}



.project {
flex: 20%;
padding: 20px;
}




@media screen and (max-width: 992px) {
  .project {
    flex: 50%;
  }

}

@media screen and (max-width: 600px) {
  .projects-section {
    flex-direction: column;
  }

}

.project-image img{
    /* box-sizing: border-box; */
    object-fit: contain;
    height: 100px;
    /* box-sizing: inherit; */

}

.project-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 

